* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.inline {
  display: inline-block;
}

.right {
  float: right;
}

.questions{

align-self: center;
  

}
